* {
    margin: 0;
    padding: 0;
    justify-content: center;

}

.navbar-wrapper {
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 3rem;
    margin-right: 15vw;
    margin-left: 15vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 3em;
    padding-right: 3em;

    background-color: var(--primary-color);
    width: 70vw;
    border-radius: 10rem;
}

.navbar-anchors {
    display: flex;
    list-style: none;
    flex-direction: row;

}

.navbar-anchors li {
    padding-left: 2em;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
}

.navbar-brand img {
    position: relative;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar-brand img:hover {
    transform: translateY(-20%);
}

.download-btn {
    left: 1em;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.download-icon-btn {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    font-size: 1rem;
    color: #ffff;
    position: relative;
}

.download-icon-btn svg {
    transition: transform 0.5s ease;
}

.btn-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    opacity: 0;
    visibility: hidden;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;

    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.download-btn:hover .btn-text {
    font-weight: 600;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.download-btn:hover .download-icon-btn svg {
    transform: translateY(10%);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 120%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;

    padding: 1rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 10;
    min-width: 10rem;
}

.cv-text {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu li {
    color: var(--tertiary-color);
}

.dropdown-menu li:hover .cv-text {
    color: var(--accent-color);
}

.dropdown-menu svg {
    color: var(--tertiary-color);
    margin-right: 0.5rem;
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropdown-menu li:hover svg {
    opacity: 1;
    transition: opacity 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.tooltip {
    position: fixed;
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    pointer-events: none;
    /* Ensure the tooltip doesn't interfere with mouse events */
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
}